body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: center;
    background-color: rgba(114, 19, 202, 0.911);
  }

  .form-control {
    display: block;
    margin: 10% auto;
    width: 50%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 1rem 1rem 2.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .form-control::placeholder {
    color: #adb5bd;
    opacity: 1;
  }

  div .username{
      padding-bottom: 5px;
  }
